@CHARSET "UTF-8";

body {
    color: #333333;
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}

#header {
    width: 100%;
    height: 70px;
    background-color: #333333;
}

#content {
    width: 94%;
    margin-top: 15px;
    padding-left: 3%;
}

h1 {
    font-size: 24px;
    display: inline;
}

h2 {
    font-size: 36px;
    margin-top: 15px;
    margin-bottom: 15px;
}

h2#Find {
    font-size: 36px;
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #24738e;
}

table, tr, th, td {
    border: 1px solid #cccccc;
}

table {
    width: 100%;
    table-layout: fixed;
}

th {
    width: 26%;
    padding: 10px 2%;
}

td {
    width: 66%;
    padding: 10px 2%;
}

button {
    font-size: 14px;
    padding: 5px 10px;
}

#footer {
    text-align: center;
}

table#employee_list th {
    width: 30%;
    padding: 10px 2%;
}

table#employee_list td {
    width: 29%;
    padding: 10px 2%;
}

tr.row1 {
        background-color: #f2f2f2;
}
tr.row0 {
        background-color: #ffffff;
}

select {
    height: 30px;
}

#header_menu {
    width: 57%;
    padding-top: 17px;
    padding-left: 3%;
    display: inline-block;
}

#employee_name {
    color: #cccccc;
    width: 36%;
    padding-right: 3%;
    text-align: right;
    display: inline-block;
}

#header a {
    color: #eeeeee;
}

h1 a {
    color: #eeeeee;
}

table#report_list th {
    font-weight: bold;
    padding: 10px 2%;
}

table#report_list .report_name {
    width: 10%;
    padding: 10px 2%;
}
table#report_list .report_date {
    width: 15%;
}

table#report_list .report_title {
    width: 35%;
}

table#report_list .reaction_count {
    width: 13%;
}

table#report_list .report_action {
    width: 10%;
}

table#report_list .reaction_status{
    width: 12%;
}

table#report_list .follow_status{
    width: 10%;
}

pre {
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}

h3 {
    font-size: larger;
}

table#reaction_form{
    width: 50%;
    float: left;
}

table#reaction_form th {
    font-weight: bold;
    padding: 10px 2%;
}

table#reaction_form .reactionType {
    width: 5%;
    align: center;
    valign: middle;
}
table#reaction_form .reactionComent {
    width: 30%;
    valign: middle;
}

button.reactionbutton{
    width: 100px;
    height: 50px;
    font-size: larger;
}

table#reactions_list{
    Width: 95%;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;

}
table#reactions_list th {
    font-weight: bold;
    padding: 10px 2%;
}

table#reactions_list .reactionlist_type {
    width: 10%;
}

table#reactions_list .reactionlist_message {
    width: 30%;
}

table#reactions_list .reactionlist_date {
    width: 15%;
}

table#reactions_list .reactionlist_name {
    width: 15%;
}
.reactionbutton{
    font-size: 30px;
    padding: 5px 10px;
    margin-top: 85px;
}
.reactionbutton_1{
    font-size: 30px;
    padding: 5px 10px;
    margin-top: 100px;
}
.reactionbutton_delete{
    font-size: 30px;
    padding: 5px 10px;
    margin-top: 70px;
}

.Find_form{
    float: right;
}
.clear_both {
    clear:both;
}
